.logo{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

/* Código Responsivo Mobile */
@media (max-width:768px) {
    .logo{
        /* Auto layout */
        left: 15px;
        top: 15px;
    }
}