.area-resultado__elementos-ocultar__muñeco{
    width: 90%;
    height: 70%;
    padding-left: 6%;
    padding-bottom: 10%;
    padding-top: 15%;
}

/* Código Responsivo Mobile */
@media (max-width:768px) {
    .area-resultado__elementos-ocultar__muñeco{
        width: 90%;
        height: 700%;
        padding-left: 5%;
        padding-bottom: 0%;
        padding-top: 3%;
    }
}